<div class="box">
	<img src="./assets/media//logos/Logo_hg.png">
    <div class="text-center">
      <h3 class="font-size-h1">Forgot Password</h3>
	</div>
	<div class="field4">
		<p class="link">We will send you an email with instructions on how to reset your password</p>
	  </div>

	  <form class="form" [formGroup]="forgotPasswordForm" autocomplete="off">
		<div class="field2">
			<mat-form-field class="field" appearance="fill">
				<!--<mat-label>Email</mat-label>-->
				<input matInput type="email" placeholder="Email"
					formControlName="email" autocomplete="off" />
				<mat-error *ngIf="isControlHasError('email','required')">
					<strong>Required field</strong>
				</mat-error>
				<mat-error *ngIf="isControlHasError('email','email')">
					<strong>Wrong</strong>
				</mat-error>
				<mat-error *ngIf="isControlHasError('email','minLength')">
					<strong>Min 3</strong>
				</mat-error>
				<mat-error *ngIf="isControlHasError('email','maxLength')">
					<strong>Max 320</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<!--begin::Action-->
		<div class="field2 d-flex flex-wrap flex-center">
			<button (click)="submit()" id="kt_login_forgot_submit"
				class="forgot-button" style="background-color: #EF8533"
				[ngClass]="{'spinner spinner-right spinner-md spinner-light': loading}">Submit</button>
		</div>
		<div class="field2">
			<a href="javascript:;" routerLink="/auth/forgot-password" style="color: black"
			  id="kt_login_forgot">I don't remember my email</a>
			</div>
		<div class="bottom">
			<span class="link">Don't have an account? </span>
			<a href="javascript:;" routerLink="/auth/register" style="color: #EF8533;"><b> Sign Up</b></a>
			</div>
			<div class="field3">
			  <p class="link">This page is protected by Google reCAPTCHA</p>
			</div>
	</form>

</div>