button {
  width: 100%;
  margin: 1em 0 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-google {
  color: #ffffff;
  background-color: #db4437;
  font-size: 0.8em;
  fa-icon {
    margin: 0 1em 0 0;
  }
}
